<!DOCTYPE html>
{% extends 'index.html' %}
{% load static %}
{% block title %}User: {{ user.username }}{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'home' %}">Lists</a></li>
    <li class="breadcrumb-item active">{{ user.username }}'s profile</li>
{% endblock %}

{% block content %}
    <div class="container">
<table class="table">
        <thead class="thead-inverse">
          <tr>
            <th>List name</th>
            <th>Song Number</th>
            <th>Created by</th>
            <th>Created at</th>
          </tr>
        </thead>
        <tbody>
          {% for list in editableLists %}
            <tr>
              <td class="align-middle"><a style="color: red;" href="{% url 'playlistinfo' list.pk %}" class="text-primary">{{ list.title }}</a>
              </td>
              <td class="align-middle">{{ list.songNumber }}</td>
              <td class="align-middle">
                  {% for creator in editableLists.creators.all %}
                    <a href="{% url 'userprofile' creator.pk %}">{{ creator.username }}</a>
                  {% endfor %}
              </td>
              <td class="align-middle">{{ list.created_at }}</td>
                {% if request.user in list.creators.all %}
              <td><a style="color: red;" href="{% url 'addsong' list.pk %}" class="text-primary" >Add Song</a>
                </td>
                <td>
                    <form action="{% url 'removelist' %}" method="POST">
                        {% csrf_token %}
                        <button style="background-color: transparent; color: red; border: transparent;"
                                type="submit" name="remove_btn" value="{{ list.id }}" class="btn-outline-primary">
                            Remove List
                        </button>
                    </form>
                </td>
                    <td><a style="color: red;" href="{% url 'addcontributor' list.pk %}" class="text-primary" >Add Contributor</a></td>
            {% endif %}
            </tr>
          {% endfor %}
          {% for list in uneditableLists %}
            <tr>
              <td class="align-middle"><a style="color: red;" href="{% url 'playlistinfo' list.pk %}" class="text-primary">{{ list.title }}</a>
              </td>
              <td class="align-middle">{{ list.songNumber }}</td>
              <td class="align-middle">
                  {% for creator in uneditableLists.creators.all %}
                    <ul>
                        <li>
                            <a href="{% url 'userprofile' creator.pk %}">{{ creator.username }}</a>
                        </li>
                    </ul>
                  {% endfor %}
              </td>
              <td class="align-middle">{{ list.created_at }}</td>
            </tr>
          {% endfor %}
          <table class="table">
              <thead class="thead-inverse">
                Subscriptions
              </thead>
              <tbody>
                {% for person in subs %}
                    <tr>
                        <td class="align-middle"><a href="{% url 'userprofile' person.pk %}">{{ person.username }}</a></td>
                    </tr>
                {% endfor %}
              </tbody>
          </table>
          <table class="table">
              <thead class="thead-inverse">
                Blocked Artists
              </thead>
              <tbody>
                {% for artist in blocked_artists %}
                    <tr>
                        <td class="align-middle"><a href="{% url 'artistinfo' artist.pk %}">{{ artist.name }}</a></td>
                    </tr>
                {% endfor %}
              </tbody>
          </table>
          {% if profile.user == request.user %}
        <a href="{% url 'addplaylist' %}" class="btn btn-primary ml-2">Add playlist</a>
        {% endif %}
        </tbody>
      </table>
    </div>
{% endblock %}
